/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.headerMercado {
    background-color: #6666FF;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blablaHeader {
    font-size: 24px;
    font-weight: bold;
}
.ancora
{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    margin-right: 0.5vw;
}

.botoes {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn1,
.btn2 {
    background-color: #6666FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn1:hover,
.btn2:hover {
    background-color: #6666FF;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 100vw;
}

.paiTabela {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 80vw;
}

.tabelaMercado {
    width: 100%;
    border-collapse: collapse;
}

.tabelaMercado thead {
    background-color: #6666FF;
    color: white;
}

.tabelaMercado th,
.tabelaMercado td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.tabelaMercado th {
    font-weight: bold;
}

.tabelaMercado tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabelaMercado tbody tr:hover {
    background-color: #ffeded;
}

.tabelaMercado tbody td {
    color: #333;
}

.tabelaMercado tbody td:last-child {
    font-weight: bold;
    color: #6666FF;
}

button {
    font-family: inherit;
}