<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Financeiro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header class="headerDashboard">
        <div>
            <p class="blablaHeader">Ca$h Board</p>
            <a href="" class="ancora">Gráficos</a>
            <a rel="noopener noreferrer" class="ancora">•</a>
            <a href="" class="ancora">Minhas finanças</a>
        </div>

    </header>
    </header>
    <div class="container">
        <div class="header">
            <div class="metric green">
                <span>Total de Receitas</span>
                <h2>R$ 32.452,00</h2>
            </div>
            <div class="metric red">
                <span>Total de Despesas</span>
                <h2>R$ 22.901,00</h2>
            </div>
            <div class="metric gray">
                <span>Saldo</span>
                <h2>R$ 9.551,00</h2>
            </div>
            <div class="metric green">
                <span>1º Trimestre</span>
                <h2>R$ 1.758</h2>
            </div>
            <div class="metric green">
                <span>2º Trimestre</span>
                <h2>R$ 4.028</h2>
            </div>
            <div class="metric green">
                <span>3º Trimestre</span>
                <h2>R$ 3.765</h2>
            </div>
        </div>

        <div class="charts-grid">
            <div class="chart-container">
                <h3>Total de Receitas (R$)</h3>
                <canvas id="incomeChart"></canvas>
            </div>
            <div class="chart-container">
                <h3>Meio de Pagamento</h3>
                <canvas id="paymentChart"></canvas>
            </div>
            <div class="chart-container">
                <h3>Fontes de Renda (R$)</h3>
                <canvas id="incomeSourceChart"></canvas>
            </div>
            <div class="chart-container">
                <h3>Total de Despesas (R$)</h3>
                <canvas id="expensesChart"></canvas>
            </div>
            <div class="chart-container">
                <h3>Receitas vs. Despesas</h3>
                <canvas id="incomeVsExpensesChart"></canvas>
            </div>
            <div class="chart-container">
                <h3>Fontes de Despesa (R$)</h3>
                <canvas id="expenseSourceChart"></canvas>
            </div>
        </div>
    </div>
    {% load static %}
    <script type="module" src="{% static 'scripts/dashboard.js' %}"></script>
</body>

</html>