<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/pet.css">
    <title>Tela Mercado</title>
</head>

<body>
    <header class="headerMercado">
        <div>
            <p class="blablaHeader">Ca$h Board</p>
            <a href="" class="ancora">Gráficos</a>
            <a rel="noopener noreferrer" class="ancora">•</a>
            <a href="" class="ancora">Minhas finanças</a>
        </div>

    </header>
    
    <div class="botoes">
        <button class="btn1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
          </svg> Filtrar</button>

        <button class="btn2">Gerar relatório</button>
    </div>

    <section>
        <div class="paiTabela">
            <table class="tabelaMercado">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Forma de Pagamento</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">01/01/2025</th>
                        <td>Veterinario Vanderlei</td>
                        <td>Cartão de débito</td>
                        <td>R$ 69,30</td>
                    </tr>
                    <tr>
                        <th scope="row">05/01/2025</th>
                        <td>Atacadão dos bicho - compra da calopsita Jorgin Louro José</td>
                        <td>Dinheiro</td>
                        <td>R$ 56,54</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>